body {
  /*padding-top: 5rem; */
  background-color: #fbfcfd;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
}

.form-control:focus {
  border-color: rgb(53, 84, 103);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(53, 84, 103, 0.6);
}

#topn-plot-container {
  font: 10px sans-serif;
}

#predefined-plot-container {
  font: 10px sans-serif;
}

.label {
  font-weight: bold;
}

.tile {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.logo {
    padding: 1em;
    width: 200px;
}

#intersect {
    padding-top: 1em;
}

#topn {
    padding-top: 1em;
}

.tab-pane {
    padding-top: 1em;
}

.btn-primary {
    background-color: #1db598;
    border: none;
    margin-bottom: 0.5em;
}

.btn-primary:hover {
    background-color: #1db598;
}

a {
    color: #102445;
}

.table-container {
    overflow-y: auto;
    max-height: 500px;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 10px;
}

.table > thead {
    font-weight: normal;
}

.table > thead > tr > th {
    font-weight: normal;
    border-top-color: rgb(53, 84, 103);
    border-bottom-color: rgb(53, 84, 103);
}

.result-value {
    font-weight: normal;
}

.result-query {
    font-family: inconsolata, monospace;
    white-space: pre;
    font-weight: bold;
    font-size: 16px;
    background-color: #fafafa;
    border-color: #e4eff4;
}
