body {
  /*padding-top: 5rem; */
  background-color: rgb(237, 236, 232);
  font-family: Gill Sans;
  font-size: 1.2em;
}

.logo {
    padding: 1em;
    width: 200px;
}

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#intersect {
    padding-top: 1em;
}

#topn {
    padding-top: 1em;
}

.tab-pane {
    padding-top: 1em;
}

.btn-primary {
    background-color: rgb(53, 84, 103);
    border-color: black;
    margin-bottom: 0.5em;
}

a {
    color: rgb(53, 84, 103);
}
